* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a{
    color: #ffffff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=100);
  -moz-opacity: 0.1;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }


body{
    font-family: 'Zen Maru Gothic', sans-serif;
    background-image: url(../images/background.jpg);
    height: 120vh;
    background-size: cover;
}

h1,h2{
    color: #00552E;
}

p{
    font-size: 18px;
}

.headline {
    color: #00552E;
    text-align: center;
    border-left: 1px solid #00552E;
    border-right: 1px solid #00552E;
    margin: 10% 40% 5%;
}



.log img{
    width: 6%;
    padding: 5px 0px 0px 20px;
    /* opacity: 0.8; */
    position: fixed;
    z-index: 30;
}

/* .title{
    z-index: 9999;
} */
.title{
    background-image: url(../images/title2.png);
    object-fit: cover;

    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* background-position: 5px; */
    /* background-attachment: fixed;  */
    display: block;
    /* max-width: 100%; */
}

.title a{
    color: #ffffff;
    width: 500px;
    font-size: 24px;
}

.title ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-left: 75%;
    position: fixed;
    padding-top: 15px;
}

.titles ul {
    background-color: rgb(0, 85, 46, 0.4);
    padding-right: 100%;
    padding-bottom: 28px; 
    z-index: 20;
}

.title li {
    float: left;
}

.title2{
    background-image: url(../images/zarusoba1.jpg);
    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* background-position: 5px; */
    /* background-attachment: fixed;  */
    display: block;
    /* max-width: 100%; */
}

.title2 ul{
    display: flex;
    width: 580px;
    justify-content: space-between;
    padding-left: 55%;
    padding-top: 25px;
    position: fixed;
}

.title2 li {
    float: left;
}


.title2 a{
    color: #ffffff;
    width: 500px;
    font-size: 24px;
}

.title3{
    background-image: url(../images/inari1.jpg);
    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* background-position: 5px; */
    /* background-attachment: fixed;  */
    display: block;
    object-fit: cover;
    /* max-width: 100%; */
}

.title3 a{
    color: #ffffff;
    width: 500px;
    font-size: 24px;
}

.title3 ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-left: 75%;
    position: fixed;
    padding-top: 15px;
}

.titles3 ul {
    background-color: rgb(0, 85, 46, 0.4);
    padding-right: 100%;
    padding-bottom: 28px; 
    z-index: 20;
}

.title3 li {
    float: left;
}

.title4{
    background-image: url(../images/nomimono1.jpg);
    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* background-position: 5px; */
    /* background-attachment: fixed;  */
    display: block;
    object-fit: cover;
    /* max-width: 100%; */
}

.title4 a{
    color: #ffffff;
    width: 500px;
    font-size: 24px;
}

.title4 ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-left: 75%;
    position: fixed;
    padding-top: 15px;
}

.titles4 ul {
    background-color: rgb(0, 85, 46, 0.4);
    padding-right: 100%;
    padding-bottom: 28px; 
    z-index: 20;
}

.title4 li {
    float: left;
}

.thema {
    background: rgba(255, 255, 255, 0.9) ;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thema h1{
    writing-mode: vertical-rl;
    font-size: 48px;
    margin: 30px;
    letter-spacing: 0.4em;
}

/* .introduction {
    background-image: url(../images/background.jpg);
    height: 120vh;
    background-size: cover;
    padding-top: 1px;
} */

.first {
    background-color: #fff;
    border: 1px solid #00552E;
    padding: 30px 51px 30px 250px;
    margin: 100px 64px 50px 300px;
    right: 20px;
    /* position: absolute; */
}

.first h2{
    text-align: right;
    font-size: 36px;
    padding-bottom: 30px;
}

.first p{
    text-align: right;
    line-height: 2ch;
}

.first h2 span{
    font-size: 18px;
}

.shape1{
    background-color: #D7CF3A;
    width: 28vh;
    height: 28vh;
    border: 1px solid #ffffff;
    transform: rotate(45deg);
    border-radius: 16px;
    position: absolute;
    left: 220px;
    top: 1130px;
}

.shape1 h1{
    color: #fff;
    transform: rotate(-45deg);
    margin: 40px 30px;
    text-align: center;
    font-size: 48px;
}


.secound {
    background-color: #fff;
    border: 1px solid #00552E;
    padding: 30px 250px 30px 51px;
    margin: 150px 300px 50px 64px;
    right: 20px;
    /* position: absolute; */
}

.secound h2{
    text-align: left;
    padding-bottom: 30px;
    font-size: 36px;
}

.secound p{
    text-align: left;
    line-height: 2ch;
}

.secound span{
    font-size: 18px;
}

.shape2{
    background-color: #D7CF3A;
    width: 28vh;
    height: 28vh;
    border: 1px solid #ffffff;
    transform: rotate(45deg);
    border-radius: 16px;
    position: absolute;
    right: 230px;
    top: 1610px;
}

.shape2 h1{
    color: #fff;
    transform: rotate(-45deg);
    margin: 40px 30px;
    text-align: center;
    font-size: 48px;
}

.menu {
    /* background-image: url(../images/background.jpg);
    background-position: cover;
    height: 100vh; */
}

.menus {
    display: inline-block;
}

.menus img{
    width: 477px;
    height: 650px;
    object-fit: cover;
}

.menus h1{
    writing-mode: vertical-rl;
    font-size: 36px;
    margin: 20px;
    letter-spacing: 0.4em;
}

.soba {
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    position: absolute;
    left: 13%; 
    z-index: 10;  
}

.inari {
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    position: absolute;
    left: 47%;
    z-index: 10;  

}

.drink {
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    position: absolute;
    right: 13%;
    z-index: 10;  
}

.access {
    padding-top: 5%;
}

.headline-access {
    color: #00552E;
    text-align: center;
    border-left: 1px solid #00552E;
    border-right: 1px solid #00552E;
    margin: 5px 35% 0% 35%;
}

.access p {
    color: #00552E;
    font-size: 18px;
}

.access li {
    color: #00552E;
    font-size: 24px;
    line-height: 2ch;
}

.access-about {
    display: inline-block;
    width: 49%;    
}

.access-wrap {
    width: 100%;
    margin-top: 20px;
}

.access-guidance{
    margin: 100px 0px 50px 150px;
}

.access-guidance p{
    font-size: 24px;
    margin-top: 64px;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color: #00552E;
}

