* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Zen Maru Gothic', sans-serif;
}

h1,h2{
    color: #00552E;
}

p{
    tab-size: 20px;
}

.title{
    background-image: url(../images/title2.png);
    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* background-position: 5px; */
    /* background-attachment: fixed;  */
    display: block;
}

.log img{
    width: 20%;
    padding: 20px 0px 0px 20px;
}

.title a{
    color: #ffffff;
    position: fixed;
    width: 500px;
    font-size: 24px;
}

.title ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-left: 70%;
    padding-top: 25px;
}
.thema {
    background: rgba(255, 255, 255, 0.9) ;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thema h1{
    writing-mode: vertical-rl;
    font-size: 48px;
    margin: 30px;
    letter-spacing: 0.4em;
}

.introduction {
    background-image: url(../images/background.jpg);
    height: 150vh;
}

.first {
    background-color: #fff;
    border: 1px solid #00552E;
    padding: 30px 51px 30px 250px;
    margin: 100px 150px 50px 300px;
    right: 20px;

}

.first h2{
    text-align: right;
    font-size: 36px;
    padding-bottom: 30px;
}

.first p{
    text-align: right;
    line-height: 2ch;
}

.first h2 span{
    font-size: 18px;
}
/* 
.shape1{
    background-color: #D7CF3A;
    width: 28vh;
    height: 28vh;
    border: 1px solid #ffffff;
    transform: rotate(45deg);
    border-radius: 16px;
    position: absolute;
    left: 220px;
    top: 1050px;
}

.shape1 h1{
    color: #fff;
    transform: rotate(-45deg);
    margin: 40px 30px;
    text-align: center;
    font-size: 48px;
} */


.secound {
    background-color: #fff;
    border: 1px solid #00552E;
    padding: 30px 250px 30px 51px;
    margin: 100px 300px 50px 150px;
    right: 20px;
}

.secound h2{
    text-align: left;
    padding-bottom: 30px;
    font-size: 36px;
}

.secound p{
    text-align: left;
    line-height: 2ch;
}

.secound span{
    font-size: 18px;
}

/* .shape2{
    background-color: #D7CF3A;
    width: 28vh;
    height: 28vh;
    border: 1px solid #ffffff;
    transform: rotate(45deg);
    border-radius: 16px;
    position: absolute;
    right: 220px;
    top: 1450px;
}

.shape2 h1{
    color: #fff;
    transform: rotate(-45deg);
    margin: 40px 30px;
    text-align: center;
    font-size: 48px;
} */